body {
  background:skyblue;
}

p {
  color:red;
  font-family: Bold Script;
  font-size:20px;
}

h1 {
  font-family:Arial;
  color:black;
  text-align:center;
}

#history {
	color:firebrick;
	font-size:20px;
	position:absolute;
	left:490px;
	top:1px;
	border:1px ridge #ccffff;
	padding:3px;
	text-align:center;
	background-color:azure;
}

#history:hover{
	color: black;
}

#astronomy {
	color:firebrick;
	font-size:20px;
	position:absolute;
	left:750px;
	top:1px;
	border:1px ridge #ccffff;
	padding:3px;
	text-align:center;
	background-color:azure;
}

#astronomy:hover {
	color: black;
}

#main {
	color:firebrick;
	font-size:20px;
	position:absolute;
	left:250px;
	top:1px;
	border:1px ridge #ccffff;
	padding:3px;
	text-align:center;
	background-color:azure;
}

#main:hover {
	color: black;
}

#physics {
	color:firebrick;
	font-size:20px;
	position:absolute;
	left:1000px;
	top:1px;
	border:1px ridge #ccffff;
	padding:3px;
	text-align:center;
	background-color:azure;
}

#physics:hover {
	color: black;
}

nav ul {
	display:flex;
	flex-direction: column;
	list-style-type: none;
	background-color:tomato;
	border-style: solid;
	border-color: MediumVioletRed;
	border-width: 2px;
	padding: 10px;
	border-radius: 10px;
}

nav ul li {
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
	color: yellow;
}

@media all and (min-width: 1300px) {
	nav ul {
        flex-direction: row;
        justify-content: flex-end;
	}
}