body {
  background:orange;
}

h1 {
  font-family:Arial;
  color:white;
  text-align:center;
}

h2 {
  text-align:center;
  color:white;
}

p {
 color:black;
 font-size:20px;
 font-family:Bold Script;
}

#history {
	color:blue;
	font-size:20px;
	position:absolute;
	left:500px;
	top:1px;
	border:1px ridge #ccffff;
	padding:3px;
	text-align:center;
	background-color:crimson;
}

#history:hover {
	color: green;
}

#astronomy {
	color:blue;
	font-size:20px;
	position:absolute;
	right:470px;
	top:1px;
	border:1px ridge #ccffff;
	padding:3px;
	text-align:center;
	background-color:crimson;
}

#astronomy:hover {
	color: green;
}

#main {
	color:blue;
	font-size:20px;
	position:absolute;
	left:250px;
	top:1px;
	border:1px ridge #ccffff;
	padding:3px;
	text-align:center;
	background-color:crimson;
}

#main:hover {
	color: green;
}

#physics {
	color:blue;
	font-size:20px;
	position:absolute;
	right:250px;
	top:1px;
	border:1px ridge #ccffff;
	padding:3px;
	text-align:center;
	background-color:crimson;
}

#physics:hover {
	color:green;
}

#tinyPicture {
   	height:150px;
	border-radius: 50px;
}

.card {
	width: 500px;
	height: 300px;
	border: 2px solid blue;
	box-sizing: border-box;
	border-radius: 10px;
	padding: 10px;
	margin-top: 10px;
	margin-left:auto;
	margin-right:auto;
}

.card:hover {
	border-color: red;
}

nav ul {
	display:flex;
	flex-direction: column;
	list-style-type: none;
	background-color:tomato;
	border-style: solid;
	border-color: MediumVioletRed;
	border-width: 2px;
	padding: 10px;
	border-radius: 10px;
}

nav ul li {
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
	color: yellow;
}

@media all and (min-width: 1300px) {
	nav ul {
        flex-direction: row;
        justify-content: flex-end;
	}
}

.nice {
	color:red;
	text-decoration:underline;
}